.container {
    background-color: blanchedalmond;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo,
.userImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.btn {
    border-radius: 10%;
    background-color: aqua;
    margin-left: 10px;
}